* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.gridContainer {
  display: block;
  border: solid 5px black;
  height: auto;
  overflow: hidden; /* or overflow: auto; */
  width: 100%;
  max-width: 900px;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.grid {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid div {
  width: 10%; /* This gives you 10 columns across the width of the grid */
  padding-bottom: 10%; /* This ensures that the height is equal to the width */
  position: relative; /* Ensures that the frog image can be positioned inside */
  box-sizing: border-box; /* Makes sure padding and borders don't affect the size */
  border-bottom: 1px solid black;
}

.grid div:nth-child(-n + 10) {
  /* Your styles here */
  background-image: url(./assets/dandelion.gif);
  background-size: cover;
}

.log {
  background-color: brown;
  z-index: 999999;
  position: absolute; /* Ensure that logs are positioned relative to their container */
}

/* .special-background {
  background-image: url("./assets/water.gif");
 background-size: cover;
  background-position: center; 
   z-index: 2;
} */

.frog {
  background-image: url("./assets/olaf.gif");
  background-size: contain; /* Scales the image to fit within the cell */
  background-position: center; /* Centers the image in the cell */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  width: 100%; /* Ensures the image covers the entire width of the cell */
  height: 100%; /* Ensures the image covers the entire height of the cell */
  position: absolute; /* Positions the image within the cell */
  top: 0;
  left: 0;
}

.car {
  background-image: url(./assets/fire.gif);
  background-size: contain; /* Scales the image to fit within the cell */
  background-position: center; /* Centers the image in the cell */
  background-repeat: no-repeat;
}
